
// $col1 : #6699CC;
.con_wth{
    width: 50%;
    background-color: white;
    padding: 5%;
    box-shadow: $col1 0px 7px 29px 0px;

}
.img_log {
    height: 500px;

}
.btn-primary {
    color: #fff;
    background-color: $col1;
    border-color: $col1;
    margin-left: 40%;
    margin-top: 5%;
  }