body {
  background-color: #6699cc4a;
  width: 100%;
  overflow-x: hidden;
}

// .page_container {
//   display: flex;
// }
// ._side {
//   width: 25%;
//   height: 555px;
//   // background-color: aqua;
// }
// ._extra {
//   width: 25%;
//   height: 555px;
//   // background-color: black;
// }

// .post_container {
//   width: 50%;
//   height: 555px;
//   background-color: rgb(212, 33, 33);
//   ._post {
//     background-color: white;
//     height: 400px;
//     border-radius: 8px;
//     box-shadow: rgb(0, 0, 0) 0px 1px 5px 0px;
//     margin: 3% 0;
//     margin-left: 1%;
//     margin-right: 1%;
//     // position: relative;
//   }
// }

// ._user {
//   // position: absolute;
  
//   display: flex;
//   height: 70px;
//   width: 40%;
//   margin-top: 2%;
//   margin-left: 3%;
//   gap: 3%;

//   .userName {
//     font-weight: bold;
//     margin-top: 4%;
//   }
// }
// .review {
//   width: 40%;
//   height: 100px;
//   background-color: aqua;
//   // position: absolute;
// }
.poster {
  width: 40%;
  height: 100px;
  background-color: indianred;
  // position: absolute;
}
._post{
  width: 50%;
  border-radius: 7px;
  box-shadow: rgb(0, 0, 0) 0px 1px 5px 0px;
}
.postAdd{
  padding: 1% 0%;
  text-align: center;
  font-weight: bold;
  background-color: $col1;
  // border: solid $col1;
  color: black;
  
}
a{
  text-decoration: none;
}
.img_prf{
    width: 100px;
    height: 75px;
    border-radius: 50%;
}